html{
    background-color: black;
    padding: 0px;
}
.meme{
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    color: white;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-size: 2.5vw;
}
h1{
    text-transform: uppercase;
    font-size: 3vw;
}
.img{
    border: 5px solid white;
    height: 100%;
}
